.button-type {
  font-size: 24px;
}
.button-type-1 {
  background-color: #f00;
}
.button-type-2 {
  background-color: #f00;
}
.button-type-3 {
  background-color: #f00;
}
.button-type-4 {
  background-color: #f00;
}
.button-type-5 {
  background-color: #f00;
}
.button-type-6 {
  background-color: #f00;
}
