.button-type,
.button-type-with-gpu,
.button-type-1,
.button-type-2,
.button-type-3,
.button-type-4,
.button-type-5,
.button-type-6 {
  font-size: 24px;
  background-color: #f7f7f7;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#e7e7e7));
  background-image: -webkit-linear-gradient(top, #f7f7f7, #e7e7e7);
  background-image: -moz-linear-gradient(top, #f7f7f7, #e7e7e7);
  background-image: -ms-linear-gradient(top, #f7f7f7, #e7e7e7);
  background-image: -o-linear-gradient(top, #f7f7f7, #e7e7e7);
  margin: 36px;
  width: 144px;
  height: 144px;
  position: relative;
  text-align: center;
  line-height: 144px;
  border-radius: 50%;
}
.button-type:active,
.button-type-with-gpu:active,
.button-type-1:active,
.button-type-2:active,
.button-type-3:active,
.button-type-4:active,
.button-type-5:active,
.button-type-6:active {
  font-size: 50px;
}
.button-type-with-gpu,
.button-type-1 {
  -webkit-backface-visibility: hidden;
  background-color: #f00;
}
.button-type-1:active {
  color: #ffa500;
}
.button-type-2 {
  background-color: #ffa500;
}
.button-type-3 {
  background-color: #ff0;
}
.button-type-4 {
  background-color: #008000;
}
.button-type-5 {
  background-color: #00f;
}
.button-type-6 {
  background-color: #4b0082;
}
