.navigation-bar {
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border: none 5px #000000;
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-top-left-radius: 0px;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -moz-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.52);
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.52);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.52);
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGxpbmVhckdyYWRpZW50IGlkPSJoYXQwIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+CjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNhYmFhYTciIHN0b3Atb3BhY2l0eT0iMSIvPgo8c3RvcCBvZmZzZXQ9IjYlIiBzdG9wLWNvbG9yPSIjY2VkMGQzIiBzdG9wLW9wYWNpdHk9IjEiLz4KPHN0b3Agb2Zmc2V0PSIxOCUiIHN0b3AtY29sb3I9IiNkZmUwZTEiIHN0b3Atb3BhY2l0eT0iMSIvPgo8c3RvcCBvZmZzZXQ9Ijk0JSIgc3RvcC1jb2xvcj0iI2QwY2VjZSIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzU1NTU1NiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2hhdDApIiAvPgo8L3N2Zz4=);
  background: #abaaa7;
  background: -moz-linear-gradient(top, #abaaa7 0%, #ced0d3 5.76%, #dfe0e1 18.04%, #d0cece 93.99%, #555556 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #abaaa7), color-stop(5.76%, #ced0d3), color-stop(18.04%, #dfe0e1), color-stop(93.99%, #d0cece), color-stop(100%, #555556));
  background: -webkit-linear-gradient(top, #abaaa7 0%, #ced0d3 5.76%, #dfe0e1 18.04%, #d0cece 93.99%, #555556 100%);
  background: -o-linear-gradient(top, #abaaa7 0%, #ced0d3 5.76%, #dfe0e1 18.04%, #d0cece 93.99%, #555556 100%);
  background: -ms-linear-gradient(top, #abaaa7 0%, #ced0d3 5.76%, #dfe0e1 18.04%, #d0cece 93.99%, #555556 100%);
  background: linear-gradient(to bottom, #abaaa7 0%, #ced0d3 5.76%, #dfe0e1 18.04%, #d0cece 93.99%, #555556 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#abaaa7', endColorstr='#555556',GradientType=0 ); }

#menuItemsCollapsed {
  display: none; }

.navigation-bar ul {
  height: 100%;
  list-style: none;
  padding: 0;
  margin-top: 1px; }

.navigation-bar ul li {
  display: inline-block;
  height: 90%;
  padding: 0px 3px 0px 3px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  color: #222;
  text-shadow: 0px 2px 3px #555;
  text-align: center;
  vertical-align: middle;
  line-height: 40px; }

.navigation-bar ul li img {
  height: 100%; }

/* tablet portrait and below */
@media (max-width:989px) {
  #menuItemsCollapsed {
    display: inline-block;
    float: right; }

  .menuItemsExpanded-shown {
    display: inline-block !important; }

  #menuItemsExpanded {
    display: none;
    z-index: -1;
    position: relative;
    height: 150%;
    width: 50%;
    padding: 2%;
    margin-left: 45%;
    margin-top: -25px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    opacity: .95;
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.99);
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.99);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.99);
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGxpbmVhckdyYWRpZW50IGlkPSJoYXQwIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+CjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNiYWJiYmQiIHN0b3Atb3BhY2l0eT0iMSIvPgo8c3RvcCBvZmZzZXQ9IjMlIiBzdG9wLWNvbG9yPSIjY2VkMGQzIiBzdG9wLW9wYWNpdHk9IjEiLz4KPHN0b3Agb2Zmc2V0PSIxOCUiIHN0b3AtY29sb3I9IiNkZmUwZTEiIHN0b3Atb3BhY2l0eT0iMSIvPgo8c3RvcCBvZmZzZXQ9Ijk3JSIgc3RvcC1jb2xvcj0iI2MwYzBjMCIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2E0YTRhNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2hhdDApIiAvPgo8L3N2Zz4=);
    background: #babbbd;
    background: -moz-linear-gradient(top, #babbbd 0%, #ced0d3 2.76%, #dfe0e1 18.04%, silver 97%, #a4a4a5 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #babbbd), color-stop(2.76%, #ced0d3), color-stop(18.04%, #dfe0e1), color-stop(97%, silver), color-stop(100%, #a4a4a5));
    background: -webkit-linear-gradient(top, #babbbd 0%, #ced0d3 2.76%, #dfe0e1 18.04%, silver 97%, #a4a4a5 100%);
    background: -o-linear-gradient(top, #babbbd 0%, #ced0d3 2.76%, #dfe0e1 18.04%, silver 97%, #a4a4a5 100%);
    background: -ms-linear-gradient(top, #babbbd 0%, #ced0d3 2.76%, #dfe0e1 18.04%, silver 97%, #a4a4a5 100%);
    background: linear-gradient(to bottom, #babbbd 0%, #ced0d3 2.76%, #dfe0e1 18.04%, silver 97%, #a4a4a5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#babbbd', endColorstr='#a4a4a5',GradientType=0 ); }

  #menuItemsExpanded li {
    display: block;
    text-align: right;
    height: 30%;
    vertical-align: top;
    line-height: 100%;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #ccc;
    -moz-box-shadow: 0 5px 4.7px 0 rgba(0, 0, 0, 0.72), inset 0 1px 7.28px 0.72px rgba(0, 0, 0, 0.41), 0 0 0 1px #4e4e4e;
    -webkit-box-shadow: 0 5px 4.7px 0 rgba(0, 0, 0, 0.72), inset 0 1px 7.28px 0.72px rgba(0, 0, 0, 0.41), 0 0 0 1px #4e4e4e;
    box-shadow: 0 5px 4.7px 0 rgba(0, 0, 0, 0.72), inset 0 1px 7.28px 0.72px rgba(0, 0, 0, 0.41), 0 0 0 1px #4e4e4e;
    background-image: -moz-linear-gradient(90deg, #969191 0%, #cccccc 72.19%, white 100%);
    background-image: -o-linear-gradient(90deg, #969191 0%, #cccccc 72.19%, white 100%);
    background-image: -webkit-linear-gradient(90deg, #969191 0%, #cccccc 72.19%, white 100%);
    background-image: linear-gradient(90deg, #969191 0%, #cccccc 72.19%, white 100%); } }
