#navbar {
  position: fixed;
  height: 50px;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  border: none 5px #000000;
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-top-left-radius: 0px;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -moz-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.52);
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.52);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.52);
  background: #4096ee;
  background: -moz-linear-gradient(top, #4096ee 0%, #1b3d66 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4096ee), color-stop(100%, #1b3d66));
  background: -webkit-linear-gradient(top, #4096ee 0%, #1b3d66 100%);
  background: -o-linear-gradient(top, #4096ee 0%, #1b3d66 100%);
  background: -ms-linear-gradient(top, #4096ee 0%, #1b3d66 100%);
  background: linear-gradient(to bottom, #4096ee 0%, #1b3d66 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4096ee', endColorstr='#1b3d66',GradientType=0 ); }

#menuCollapsed {
  display: none; }

#menuExpanded {
  top: 0;
  left: 0;
  z-index: 6;
  position: fixed; }

#menuExpanded ul {
  height: 100%;
  list-style: none;
  padding: 0;
  margin-top: 7px;
  margin-left: 5px; }

#menuExpanded ul li {
  display: inline-block;
  margin-left: 0px;
  margin-right: -3px;
  padding: 0px 3px 0px 3px;
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 0 0 1px rgba(49, 49, 49, 0.2), inset 0 0 3px rgba(255, 255, 255, 0.63);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 0 0 1px rgba(49, 49, 49, 0.2), inset 0 0 3px rgba(255, 255, 255, 0.63);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 0 0 1px rgba(49, 49, 49, 0.2), inset 0 0 3px rgba(255, 255, 255, 0.63);
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGxpbmVhckdyYWRpZW50IGlkPSJoYXQwIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjEwMCUiIHgyPSI1MCUiIHkyPSIwJSI+CjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNlZGVlZjAiIHN0b3Atb3BhY2l0eT0iMSIvPgo8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2Y5ZjlmOSIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Y3ZjdmOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2hhdDApIiAvPgo8L3N2Zz4=);
  background: #edeef0;
  background: -moz-linear-gradient(top, #edeef0 0%, #f9f9f9 50.12%, #f7f7f8 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #edeef0), color-stop(50.12%, #f9f9f9), color-stop(100%, #f7f7f8));
  background: -webkit-linear-gradient(top, #edeef0 0%, #f9f9f9 50.12%, #f7f7f8 100%);
  background: -o-linear-gradient(top, #edeef0 0%, #f9f9f9 50.12%, #f7f7f8 100%);
  background: -ms-linear-gradient(top, #edeef0 0%, #f9f9f9 50.12%, #f7f7f8 100%);
  background: linear-gradient(to bottom, #edeef0 0%, #f9f9f9 50.12%, #f7f7f8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#edeef0', endColorstr='#f7f7f8',GradientType=0 ); }

#menuExpanded ul li:first-child {
  -moz-border-radius-topleft: 7px;
  -webkit-border-top-left-radius: 7px;
  border-top-left-radius: 7px;
  -moz-border-radius-bottomleft: 7px;
  -webkit-border-bottom-left-radius: 7px;
  border-bottom-left-radius: 7px; }

#menuExpanded ul li a {
  text-decoration: none;
  text-shadow: 0 1px 5.7px 0 rgba(0, 0, 0, 0.58);
  font-weight: bold;
  font-size: 30px;
  color: #507daf;
  padding-right: 20px;
  padding-left: 20px; }

/* tablet portrait and below //@media (max-width:989px){ */
@media only screen and (max-width: 989px) {
  #menuCollapsed {
    display: block;
    height: 100%; }

  .menu-expanded-shown {
    display: block !important;
    margin-left: -5px; }

  #menuExpanded {
    display: none;
    margin-top: 20px;
    z-index: 3;
    width: 50%;
    padding: 5px 5px 5px 5px;
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.99), inset 0 0 18px rgba(27, 27, 27, 0.15);
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.99), inset 0 0 18px rgba(27, 27, 27, 0.15);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.99), inset 0 0 18px rgba(27, 27, 27, 0.15);
    background: -moz-linear-gradient(top, rgba(40, 40, 40, 0.75) 0%, rgba(51, 51, 51, 0.75) 48%, rgba(0, 0, 0, 0.75) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(40, 40, 40, 0.75)), color-stop(48%, rgba(51, 51, 51, 0.75)), color-stop(100%, rgba(0, 0, 0, 0.75)));
    background: -webkit-linear-gradient(top, rgba(40, 40, 40, 0.75) 0%, rgba(51, 51, 51, 0.75) 48%, rgba(0, 0, 0, 0.75) 100%);
    background: -o-linear-gradient(top, rgba(40, 40, 40, 0.75) 0%, rgba(51, 51, 51, 0.75) 48%, rgba(0, 0, 0, 0.75) 100%);
    background: -ms-linear-gradient(top, rgba(40, 40, 40, 0.75) 0%, rgba(51, 51, 51, 0.75) 48%, rgba(0, 0, 0, 0.75) 100%);
    background: linear-gradient(to bottom, rgba(40, 40, 40, 0.75) 0%, rgba(51, 51, 51, 0.75) 48%, rgba(0, 0, 0, 0.75) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bf282828', endColorstr='#bf000000',GradientType=0 ); }

  #menuExpanded ul {
    height: 100%;
    margin-top: 30px; }

  #menuExpanded ul li {
    display: block;
    margin-right: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    -moz-box-shadow: inset 0 0 2px #0f0f0f;
    -webkit-box-shadow: inset 0 0 2px #0f0f0f;
    box-shadow: inset 0 0 2px #0f0f0f; }

  #menuExpanded ul li:first-child {
    border: none 0px #000000;
    -moz-border-radius-topleft: 7px;
    -moz-border-radius-topright: 7px;
    -moz-border-radius-bottomleft: 0px;
    -moz-border-radius-bottomright: 0px;
    -webkit-border-top-left-radius: 7px;
    -webkit-border-top-right-radius: 7px;
    -webkit-border-bottom-left-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px; }

  #menuExpanded ul li:last-child {
    border: none 0px #000000;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-bottomleft: 7px;
    -moz-border-radius-bottomright: 7px;
    -webkit-border-top-left-radius: 0px;
    -webkit-border-top-right-radius: 0px;
    -webkit-border-bottom-left-radius: 7px;
    -webkit-border-bottom-right-radius: 7px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px; }

  #menuCollapsed #menuButton {
    height: 100%; } }
