.button-type{
   font-size:24px;
}

.button-type-1{
    background-color:red;
}

.button-type-2{
    background-color:red;
}
.button-type-3{
    background-color:red;
}

.button-type-4{
    background-color:red;
}

.button-type-5{
    background-color:red;
}

.button-type-6{
    background-color:red;
}