.buttons-demo{

}

//container for an individual button demonstration
.button-demo:nth-child(odd){
    background-color: #f7f7f7;

}

.demo-notes{
    font-size: 80%;
}


.button-type{
    font-size:24px;
    //make it round and have color
    background: rgb(169,228,247);
    background: -moz-linear-gradient(left,  rgba(169,228,247,1) 0%, rgba(15,180,231,1) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(169,228,247,1)), color-stop(100%,rgba(15,180,231,1)));
    background: -webkit-linear-gradient(left,  rgba(169,228,247,1) 0%,rgba(15,180,231,1) 100%);
    background: -o-linear-gradient(left,  rgba(169,228,247,1) 0%,rgba(15,180,231,1) 100%);
    background: -ms-linear-gradient(left,  rgba(169,228,247,1) 0%,rgba(15,180,231,1) 100%);
    background: linear-gradient(left,  rgba(169,228,247,1) 0%,rgba(15,180,231,1) 100%);

    margin: 36px;
    width: 144px;
    height: 144px;
    position: relative;
    text-align: center;
    line-height: 144px;
    border-radius: 50%;
    //box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;

    //pseudo selectors
    &:active {
        background: rgb(242,130,91);
        background: -moz-linear-gradient(left,  rgba(242,130,91,1) 0%, rgba(229,91,43,1) 50%, rgba(240,113,70,1) 100%);
        background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(242,130,91,1)), color-stop(50%,rgba(229,91,43,1)), color-stop(100%,rgba(240,113,70,1)));
        background: -webkit-linear-gradient(left,  rgba(242,130,91,1) 0%,rgba(229,91,43,1) 50%,rgba(240,113,70,1) 100%);
        background: -o-linear-gradient(left,  rgba(242,130,91,1) 0%,rgba(229,91,43,1) 50%,rgba(240,113,70,1) 100%);
        background: -ms-linear-gradient(left,  rgba(242,130,91,1) 0%,rgba(229,91,43,1) 50%,rgba(240,113,70,1) 100%);
        background: linear-gradient(left,  rgba(242,130,91,1) 0%,rgba(229,91,43,1) 50%,rgba(240,113,70,1) 100%);
    }
}

.button-type-with-gpu{
    @extends .button-type;
    //kick in the gpu. EXTREME improvement in responsiveness on android galaxy tab and nexus.
    -webkit-backface-visibility: hidden;
    background-color:red;
}

.button-type-1{
    @extends .button-type-with-gpu;
    &:active{

    }
}

.button-type-2{
    @extends .button-type;
    background-color:orange;
}
.button-type-3{
    @extends .button-type;
    background-color:yellow;
}

.button-type-4{
    @extends .button-type;
    background-color:green;
}

.button-type-5{
    @extends .button-type;
    background-color:blue;
}

.button-type-6{
    @extends .button-type;
    background-color:indigo;
}

