@import "src/css-preprocess/_variables"


.navigation-bar{
    //size
    height:50px;

    //positioning
    position: fixed;
    top:0;
    left:0;
    width:100%;


    //color
    background: rgb(59,60,61);
    background: -moz-linear-gradient(top,  rgba(59,60,61,1) 0%, rgba(78,79,81,1) 80%, rgba(71,71,71,1) 98%, rgba(51,51,51,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(59,60,61,1)), color-stop(80%,rgba(78,79,81,1)), color-stop(98%,rgba(71,71,71,1)), color-stop(100%,rgba(51,51,51,1)));
    background: -webkit-linear-gradient(top,  rgba(59,60,61,1) 0%,rgba(78,79,81,1) 80%,rgba(71,71,71,1) 98%,rgba(51,51,51,1) 100%);
    background: -o-linear-gradient(top,  rgba(59,60,61,1) 0%,rgba(78,79,81,1) 80%,rgba(71,71,71,1) 98%,rgba(51,51,51,1) 100%);
    background: -ms-linear-gradient(top,  rgba(59,60,61,1) 0%,rgba(78,79,81,1) 80%,rgba(71,71,71,1) 98%,rgba(51,51,51,1) 100%);
    background: linear-gradient(to bottom,  rgba(59,60,61,1) 0%,rgba(78,79,81,1) 80%,rgba(71,71,71,1) 98%,rgba(51,51,51,1) 100%);
    filter: unquote("progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b3c3d', endColorstr='#333333',GradientType=0 )");

    //box shadow
    -webkit-box-shadow: 0px 1px 11px rgba(49, 50, 50, 0.39);
    -moz-box-shadow:    0px 1px 11px rgba(49, 50, 50, 0.39);
    box-shadow:         0px 1px 11px rgba(49, 50, 50, 0.39);

}

.navigation-bar ul{
    height:100%;
    list-style:none;
    padding:0;
    margin-top:1px;
    line-height:40px;
}

.navigation-bar ul li{
    display: inline-block;
    height: 90%;

    padding: 0px 3px 0px 3px;
    //rounded corners
    -webkit-border-radius: 8px;
    border-radius: 8px;

    //font
    color: #222;
    text-shadow: 0px 2px 3px #555;
    text-align: center;
    vertical-align: middle;


    //color
    //background: rgb(99,99,99);
    //background: -moz-linear-gradient(-45deg,  rgba(99,99,99,1) 0%, rgba(127,127,127,1) 9%, rgba(150,150,150,1) 21%, rgba(150,150,150,1) 42%, rgba(173,173,173,1) 85%, rgba(188,188,188,1) 100%);
    //background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(99,99,99,1)), color-stop(9%,rgba(127,127,127,1)), color-stop(21%,rgba(150,150,150,1)), color-stop(42%,rgba(150,150,150,1)), color-stop(85%,rgba(173,173,173,1)), color-stop(100%,rgba(188,188,188,1)));
    //background: -webkit-linear-gradient(-45deg,  rgba(99,99,99,1) 0%,rgba(127,127,127,1) 9%,rgba(150,150,150,1) 21%,rgba(150,150,150,1) 42%,rgba(173,173,173,1) 85%,rgba(188,188,188,1) 100%);
    //background: -o-linear-gradient(-45deg,  rgba(99,99,99,1) 0%,rgba(127,127,127,1) 9%,rgba(150,150,150,1) 21%,rgba(150,150,150,1) 42%,rgba(173,173,173,1) 85%,rgba(188,188,188,1) 100%);
    //background: -ms-linear-gradient(-45deg,  rgba(99,99,99,1) 0%,rgba(127,127,127,1) 9%,rgba(150,150,150,1) 21%,rgba(150,150,150,1) 42%,rgba(173,173,173,1) 85%,rgba(188,188,188,1) 100%);
    //background: linear-gradient(135deg,  rgba(99,99,99,1) 0%,rgba(127,127,127,1) 9%,rgba(150,150,150,1) 21%,rgba(150,150,150,1) 42%,rgba(173,173,173,1) 85%,rgba(188,188,188,1) 100%);
    //filter: unquote("progid:DXImageTransform.Microsoft.gradient( startColorstr='#636363', endColorstr='#bcbcbc',GradientType=1 )");
}

.navigation-bar ul li img{
    height:100%;
}

/* tablet portrait and below */
@media (max-width:989px){
    .navigation-bar{

    }
}