@import "src/css-preprocess/_variables";
@import "src/css-preprocess/media-queries";
@import "src/css-preprocess/colors";
@import "src/css-preprocess/rounded-corners";
@import "src/css-preprocess/core/lists";
@import "src/css-preprocess/util/position-fixes";

.taco{vertical-align: top;}
#responsive-page{
   //background-color: blue;
   width:100%;

  #masterList{  //ul
    //base type
    @extend .list-type-1;

    //positioning
    display:inline-block; //we want the master and detail side by side on larger screens
    vertical-align: top;

    //small screens
    @include mq(small){
      //sizing
      width:100%;

      //font
      font-size: 150%;

      //further extend .list-type-1
      li{
        padding:7px;
      }
    }

    //medium screens and above
    @include mq(medium-and-above){
      width: 30%;
    }
  }

  #detailList{  //ul
    //base type
    @extend .list-type-1;

    //positioning
    display:inline-block;//we want the master and detail side by side on larger screens

    @include mq(small){
      width:100%;
    }

    @include mq(medium-and-above){
      width: 70%;
      @include fix-inline-block-spacing; //when they are side by side, fix the spacing caused by inline-block.
    }

    //li has several items in it, represented as dl dt, as to avoid confusion
    li{
      dl{
        dt{
          //break as needed.
          display: inline-block;
          margin-right:-3px; //when side by side, there is extra padding we need to get rid of.
          @include mq(small){
            width:100% !important; //need to override the nth-child widths
          }
        }
        dt:nth-child(1){
          //sizing
          width:30%;
          font-style: italic;
        }
        dt:nth-child(2){
          //sizing
          width:40%;
        }
        dt:nth-child(3){
          width:30%;
        }
      }
    }
  }


}//end responsive-page