@import "src/css-preprocess/_variables";
@import "src/css-preprocess/media-queries";
@import "src/css-preprocess/colors";
@import "src/css-preprocess/rounded-corners";
@import "src/css-preprocess/core/lists";
@import "src/css-preprocess/util/position-fixes";

#responsive-page{
   //background-color: blue;
   width:100%;

  #masterList{  //ul

    //positioning
    display:inline-block; //we want the master and detail side by side on larger screens

    @extend .list-type-1;

    @include mq(small){
      width:100%;
    }

    @include mq(medium){
      width: 28%; //todo: box-sizing and percentage widths don't seem to get along all the time. the calculations are a bit off
    }
  }

  #detailList{  //ul
    display:inline-block;//we want the master and detail side by side on larger screens
    @extend .fix-inline-block-spacing;
    @extend .list-type-1;

    @include mq(medium){
      width: 70%;
    }
  }


}//end responsive-page